.uncompleted-orders,
.completed-orders {
	padding: 10px;
	width: 1200px;
}
table {
	border-collapse: collapse;
}
th,
td {
	padding: 8px 20px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
thead,
tbody {
	white-space: nowrap;
}
.table::-webkit-scrollbar {
	height: 5px;
}
.leave-feedback-span {
	cursor: pointer;
}
/* Track */
.table::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.table::-webkit-scrollbar-thumb {
	background: #222;
}

/* Handle on hover */
.table::-webkit-scrollbar-thumb:hover {
	background: #222;
}
@media screen and (max-width: 1100px) {
	.table {
		overflow-x: scroll;
	}
	.uncompleted-orders,
	.completed-orders {
		width: auto;
	}
	.uncompleted-orders table,
	.completed-orders table {
		overflow-x: scroll;
		white-space: nowrap;
	}

	.uncompleted-table th,
	.uncompleted-table td,
	.completed-table th,
	.completed-table td {
		padding: 8px 12px;
	}
}
@media only screen and (max-width: 450px) {
	.table {
		overflow-x: scroll;
	}
	.uncompleted-orders,
	.completed-orders {
		width: auto;
	}
	.uncompleted-orders table,
	.completed-orders table {
		overflow-x: scroll;
		white-space: nowrap;
	}
	.uncompleted-orders table {
		margin: 0 auto;
	}
	.uncompleted-table th,
	.uncompleted-table td,
	.completed-table th,
	.completed-table td {
		padding: 8px 12px;
	}
	.table::-webkit-scrollbar {
		height: 0px;
	}
}
