.invisible-input {
	display: none;
}
.add-dish-image-container button {
	margin-right: 5px;
}
.add-dish-image-buttons {
	display: flex;
	justify-content: left;
	margin-top: 5px;
}
.add-dish-image-container {
	width: 380px;
	padding: 1.5rem;
	padding-top: 0px;
	background: #fff;
	margin: auto;
}
