.update-details {
	width: 95%;
	background: #f4f4f4;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	line-height: 2;
}
.update-details > div {
	display: flex;
}
.update-details > div > span {
	min-width: 100px;
}
.update-details > .profile-picture-container {
	flex-wrap: wrap;
	flex-direction: column;
}
.profile-picture-container button {
	width: 120px;
	background: var(--main-color);
	color: #fff;
	outline: none;
	border: none;
	border-radius: 20px;
	padding: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
	margin-right: 10px;
}
.profile-picture-container input {
	display: none;
}
.update-profile-button {
	font-weight: bold;
	cursor: pointer;
	color: rgb(68, 68, 255);
	transition: all 0.2s;
}
.update-profile-button:hover {
	color: rgb(31, 31, 255);
}
@media screen and (max-width: 450px) {
	.profile-user-images-buttons {
		display: flex;
		margin-left: -10px;
		justify-content: space-between;
	}
	.profile-user-images-buttons button {
		width: 110px !important;
		margin: 2px !important;
	}
}
