.dishes-container {
	max-width: 1400px;
	margin: 0 auto;
}
.menu-empty {
	background: #f4f4f4;
	border-radius: 10px;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	line-height: 3;
	padding: 20px;
}
.menu-empty button {
	width: 150px;
	color: #fff;
	background: var(--main-color);
	outline: none;
	border: none;
	border-radius: 20px;
	padding: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}
.dish-details {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #eee;
	border-radius: 10px;
	max-width: 95%;
	margin: 5px auto;
	padding: 10px;
	transition: all 0.3s;
}
.dish-details:hover {
	box-shadow: 0px 0px 5px 0px #333;
}
.dish-details .dish-image .add-dish-image-container input {
	display: none;
}
.dish-details .dish-image .add-dish-image-container button,
.dish-details .dish-image button {
	width: fit-content;
	color: #fff;
	background: var(--main-color);
	outline: none;
	border: none;
	border-radius: 20px;
	padding: 4px 8px;
	font-weight: bold;
	cursor: pointer;
	margin-right: 5px;
}
.dish-details .dish-image .add-dish-image-container button:hover,
.dish-details .dish-image button:hover {
	transform: scale(1);
	background: var(--dark-main-color);
}
.dish-details .dish-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 5px;
	min-width: fit-content;
}
.dish-details .dish-image img {
	width: 100px;
	height: 100px;
	margin-bottom: 5px;
	border-radius: 15px;
}

.dish-button-container {
	display: flex;
}

.dish-image-description {
	display: flex;
	align-items: center;
	margin-right: 5px;
}

.dish-price {
	font-weight: bold;
}
.menu-title {
	padding: 10px;
}
.edit-dish-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.edit-dish-container .login-screen__form {
	width: 340px;
}
.close-edit {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: inherit;
	color: var(--main-color);
	border: none;
	outline: none;
}
.edit-dish-container .login-screen__form button:hover {
	background: var(--dark-main-color);
	transform: scale(1);
}
.login-screen__form .close-edit {
	font-size: 24px;
}
.close-edit :hover {
	color: var(--dark-main-color);
}
.dish-details .delete-dish-button {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: var(--main-color);
	transition: all 0.2s;
}
.dish-details .edit-dish-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	color: blue;
	transition: all 0.2s;
}
.dish-details .delete-dish-button:hover {
	color: var(--dark-main-color);
}
.dish-details .edit-dish-button:hover {
	color: rgb(0, 0, 177);
}
.add-dish-button {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 0px auto 15px auto;
}
.add-dish-button button {
	width: 200px;
	color: #fff;
	background: var(--main-color);
	outline: none;
	border: none;
	border-radius: 20px;
	padding: 12px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 10px;
}
.add-dish-button button:hover {
	transform: scale(1);
	background: var(--dark-main-color);
}
.cover-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
}
.cover-image-container button {
	width: 200px;
	color: #fff;
	background: var(--main-color);
	outline: none;
	border: none;
	border-radius: 20px;
	padding: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}
.cover-image-container button:hover {
	transform: scale(1);
	background: var(--dark-main-color);
}
.dishes-container .cover-container {
	width: 100%;
	margin: 0 auto;
}
.category {
	padding: 5px 15px;
}
.suceess-message-h2 {
	max-width: 95%;
	margin: 5px auto;
	color: rgb(9, 186, 9);
}
.error-message-h2 {
	max-width: 95%;
	margin: 5px auto;
	color: rgb(204, 1, 1);
}
@media screen and (max-width: 1000px) {
	.menu-empty {
		max-width: 90%;
	}
	.cover-container {
		margin: auto;
	}
	.dish-button-container {
		flex-direction: column;
	}
	.dishes-container .dish-button-container button {
		width: 100%;
		margin-bottom: 5px;
	}
	.dishes-container .cover-container {
		margin: auto;
	}
	.dishes-container .dish-description {
		white-space: normal;
		font-size: 14px;
	}
}
