.navbar-container-small {
	background: var(--main-color);
	padding: 0px 30px;
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 0px;
	top: 0;
	width: 100%;
	align-items: center;
}
.navbar-container-small img {
	width: 55px;
}
.button-container {
	align-self: center;
}
.menu-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	z-index: 10;
}
.menu-btn__burger {
	width: 40px;
	height: 4px;
	background: #fff;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 4px;
	background: #fff;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
	transform: translateY(-12px);
}
.menu-btn__burger::after {
	transform: translateY(12px);
}
.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

.menu-open {
	position: absolute;
	height: calc(100% - 76px);
	width: 100%;
	background: transparent;
	overflow: hidden;
	z-index: 1;
	display: flex;
	top: 76px;
}
.left-side {
	width: 30%;
	height: 100%;
	background: #fffffff0;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px 0px #333;
}

.left-side > div {
	width: 100%;
	cursor: pointer;
	margin: 0 auto;
	border-bottom: 1px dotted #333;
}
.left-side .inner-text {
	padding: 15px;
}
.left-side div:hover {
	color: #fff;
	background: var(--main-color);
}
.incomplete-orders {
	background: var(--main-color);
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
	padding: 3px 7px;
	margin-left: 5px;
}
.left-side div:hover .incomplete-orders {
	background: #fff;
	color: var(--main-color);
	border-radius: 50%;
	padding: 3px 7px;
}

.right-side {
	width: 70%;
	height: 100%;
	background: inherit;
}
.welcome-container {
	display: flex;
	align-items: center;
}
.welcome-container img {
	border-radius: 50%;
	margin-right: 10px;
}
@media screen and (max-width: 768px) {
	.left-side div:active {
		color: #fff;
		background: var(--main-color);
	}
	.left-side {
		width: 50%;
	}
	.right-side {
		width: 50%;
	}
}
