.update-details {
	width: 95%;
	background: #f4f4f4;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	line-height: 2;
}
.update-details > div {
	display: flex;
}
.update-details > div > span {
	min-width: 100px;
}
.update-details > .profile-picture-container {
	flex-wrap: wrap;
	flex-direction: column;
}
.profile-picture-container button {
	width: 120px;
	background: var(--main-color);
	color: #fff;
	outline: none;
	border: none;
	border-radius: 20px;
	padding: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
	margin-right: 10px;
}
.profile-picture-container input,
.cover-picture-container input {
	display: none;
}
.profile-buttons-container,
.cover-buttons-container {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
}
.profile-buttons-container button,
.cover-buttons-container button {
	width: fit-content;
	background: var(--main-color);
	color: #fff;
	outline: none;
	border: none;
	border-radius: 20px;
	padding: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
	margin-right: 0px;
	font-size: 10px;
	font-size: 12px;
}
.profile-buttons-container button:hover,
.cover-buttons-container button:hover {
	transform: scale(1);
	background: var(--dark-main-color);
}
.images-section .success-message-images {
	color: rgb(29, 160, 29);
}
